<div class="col-md-12 input-form">	
	<form ng-submit="createGlucose()" class="pull-right">
		<select name="glucoseSelect" id="glucoseSelect" ng-model="search.filter" class="form-control dropdown inline">
		</select>
		<input type="text" placeholder="mg/dL" class="form-control input-box inline" ng-model="glucose.reading">
		<button type="submit" class="btn">Submit</button>
	</form>
</div>

<h1> There are {{glucoses.length}} glucoses</h1>
<ul>
	<li ng-repeat="glucose in glucoses | filter:search:strict">
		{{glucose.time | date: "HH:mm"}} ||
		{{glucose.time | date}} ||
		{{glucose.level}}
		<button ng-click="removeGlucose(glucose.glucose_id)"></button>
	</li>
</ul>