.login-body{
	background-image: url('../images/doctor.jpeg');
	background-position: center;
	background-attachment: fixed;
  background-size: cover;
}

.app-name{
	font-size: 70px;
	text-align: center;
	font-family: 'Antic Slab', serif;
	text-shadow: 3px 3px black;
	letter-spacing: 7px;
}

.form-container{
	background-color: rgba(0,0,0,0.6);
	color: white;
	padding: 30px 30px;
	border: 5px solid white;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
	margin-top: 120px;
}

.top-header{
	height: 40px;
	font-size: 20px;
	background-color: rgba(0,0,0,0.6);
	padding-left: 20px;
	padding-right: 20px;
}

.logout{
	padding-top: 5px;
}

.logo{
	width: 120px;
	height: auto;
}

.main-body{
	background-image: url('../images/light_grey.png')
}

.welcome-message{
	font-size: 50px;
	text-align: center;
	font-family: 'Antic Slab', serif;
	letter-spacing: 5px;
	margin-top: 60px;
	margin-bottom: 20px;
}

.tabs{
	margin-bottom: 30px;
}

.about{
	border: 5px solid rgba(0,0,0,0.6); 
	box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
	font-size: 25px;
	font-family: 'Pinyon Script', cursive;
	letter-spacing: 3px;
	padding: 50px 50px;
	line-height: 40px;
	text-indent: 55px;
	margin-bottom: 70px;
}

.input-box{
	width: 20%;
	display: inline-block;
}

.input-form{
	text-align: right;
	padding-right: 0px;
	margin-bottom: 70px;
}

.dropdown{
	width: 25%;
}

.inline{
	display: inline-block;
}





































