<!DOCTYPE html>
<html lang="en" ng-app="vitalsApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- BOOTSTRAP -->
<!-- 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous"> -->
	<link rel="stylesheet" href="/libraries/bootstrap.css">
	<link rel="stylesheet" href="/css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Antic+Slab' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Pinyon+Script' rel='stylesheet' type='text/css'>
</head>
<body class="main-body">
	
		
	<div class="top-header col-xs-12">
		<img src="/images/Drawing.png" class="logo">
		<a href='/logout' class="pull-right logout">Log out</a>
	</div>
	<div class="container" ng-controller="MainController">
		<div class="col-sm-offset-2 col-sm-8">
			<div class="row welcome-message">
				<p>Welcome To Vital Note</p>
			</div>
			<div class="row tabs">
				<ul class="nav nav-pills pull-right">
					<li><a href ng-click="setRoute('')" class="btn">Home</a></li>
					<li><a href ng-click="setRoute('pressure')" class="btn">Blood Pressure</a></li>
					<li><a href ng-click="setRoute('glucose')" class="btn">Blood Glucose</a></li>
				</ul>
			</div>
			<div ng-view></div>
			<input type="button" onClick="window.print()" value="Print This Page" class="print pull-right"/>
		</div>
	
	</div>

	<!-- JQUERY -->
	<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
	<script src="/libraries/jquery-1.11.3.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-route.js"></script>
	<script src="/js/app.js"></script>
	<script src="/js/controllers/mainController.js"></script>
	<script src="/js/controllers/homeController.js"></script>
	<script src="/js/controllers/pressureController.js"></script>
	<script src="/js/controllers/glucoseController.js"></script>

</body>
</html>